layout {

    focus-ring {
        active-color   "#e3c54a"
        inactive-color "#15130e"
        urgent-color   "#ffb4ab"
    }

    border {
        active-color   "#e3c54a"
        inactive-color "#15130e"
        urgent-color   "#ffb4ab"
    }

    shadow {
        color "#00000070"
    }

    tab-indicator {
        active-color   "#e3c54a"
        inactive-color "#544600"
        urgent-color   "#ffb4ab"
    }

    insert-hint {
        color "#e3c54a80"
    }
}

recent-windows {
    highlight {
        active-color "#e3c54a"
        urgent-color "#ffb4ab"
    }
}
