layout {

    focus-ring {
        active-color   "#c9beff"
        inactive-color "#141316"
        urgent-color   "#ffb4ab"
    }

    border {
        active-color   "#c9beff"
        inactive-color "#141316"
        urgent-color   "#ffb4ab"
    }

    shadow {
        color "#00000070"
    }

    tab-indicator {
        active-color   "#c9beff"
        inactive-color "#48398d"
        urgent-color   "#ffb4ab"
    }

    insert-hint {
        color "#c9beff80"
    }
}

recent-windows {
    highlight {
        active-color "#c9beff"
        urgent-color "#ffb4ab"
    }
}
