layout {

    focus-ring {
        active-color   "#ffb3b0"
        inactive-color "#181212"
        urgent-color   "#ffb4ab"
    }

    border {
        active-color   "#ffb3b0"
        inactive-color "#181212"
        urgent-color   "#ffb4ab"
    }

    shadow {
        color "#00000070"
    }

    tab-indicator {
        active-color   "#ffb3b0"
        inactive-color "#7e2a2c"
        urgent-color   "#ffb4ab"
    }

    insert-hint {
        color "#ffb3b080"
    }
}

recent-windows {
    highlight {
        active-color "#ffb3b0"
        urgent-color "#ffb4ab"
    }
}
