// Window rules let you adjust behavior for individual windows.
// Find more information on the wiki:
// https://niri-wm.github.io/niri/Configuration:-Window-Rules

// Work around WezTerm's initial configure bug
// by setting an empty default-column-width.
window-rule {
    // This regular expression is intentionally made as specific as possible,
    // since this is the default config, and we want no false positives.
    // You can get away with just app-id="wezterm" if you want.
    match app-id=r#"^org\.wezfurlong\.wezterm$"#
    default-column-width {}
}

window-rule {
match app-id=r#"^com\.obsproject\.Studio$"#
open-on-workspace "N"
block-out-from "screencast"
    open-focused true
}

// Open the Firefox picture-in-picture player as floating by default.
window-rule {
    // This app-id regular expression will work for both:
    // - host Firefox (app-id is "firefox")
    // - Flatpak Firefox (app-id is "org.mozilla.firefox")
    match app-id=r#"firefox$"# title="^Picture-in-Picture$"
    open-floating true
}
window-rule {
    match app-id=r#"^zen$"#
    open-on-workspace "B"
    open-maximized true
    open-focused true
}
window-rule {
    // This app-id regular expression will work for both:
    // - host Firefox (app-id is "firefox")
    // - Flatpak Firefox (app-id is "org.mozilla.firefox")
    match app-id=r#"^zen$"# title="^Picture-in-Picture$"
    open-floating true
    default-floating-position x=20 y=20 relative-to="bottom-right"
    max-width 700
    max-height 600
clip-to-geometry true
geometry-corner-radius 12
border {
        on
        width 1
        active-color "#ffc87f"
        inactive-color "#505050"
    }
}
window-rule {
    match app-id=r#"^kitty$"#
    open-on-workspace "T"
    open-focused true
}
window-rule {
    match app-id=r#"^vesktop$"#
    open-on-workspace "D"
    open-maximized true
    open-focused true
}
// Example: block out two password managers from screen capture.
// (This example rule is commented out with a "/-" in front.)
/-window-rule {
    match app-id=r#"^org\.keepassxc\.KeePassXC$"#
    match app-id=r#"^org\.gnome\.World\.Secrets$"#

    block-out-from "screen-capture"

    // Use this instead if you want them visible on third-party screenshot tools.
    // block-out-from "screencast"
}
// Example: enable rounded corners for all windows.
// (This example rule is commented out with a "/-" in front.)
window-rule {
    geometry-corner-radius 14
draw-border-with-background false
    clip-to-geometry true
    opacity 0.80
  background-effect {
    blur true
    // xray true
  }
}
/* Apps: blur them all without xray for a better look */
// window-rule {
//   background-effect {
//     blur true
//     // xray true
//   }
// }

/* Noctalia: blur everywhere without xray for a better look */
layer-rule {
  match namespace="^noctalia-(background|launcher-overlay|dock)-.*$"
  background-effect {
    xray false
  }
}
