// Window rules let you adjust behavior for individual windows.
// Find more information on the wiki:
// https://niri-wm.github.io/niri/Configuration:-Window-Rules


// Work around WezTerm's initial configure bug
// by setting an empty default-column-width.
window-rule {
    // This regular expression is intentionally made as specific as possible,
    // since this is the default config, and we want no false positives.
    // You can get away with just app-id="wezterm" if you want.
    match app-id=r#"^org\.wezfurlong\.wezterm$"#
    default-column-width {}
}

window-rule {
match app-id=r#"^com\.obsproject\.Studio$"#
open-on-workspace "N"
block-out-from "screencast"
    open-focused true
}

window-rule {
    match app-id=r#"one.alynx.showmethekey$"# title="^Floating Window - Show Me The Key$"
    open-floating true
    default-floating-position x=20 y=20 relative-to="bottom"
}
window-rule {
    match app-id=r#"^localsend$"#
    open-floating true
    default-column-width { fixed 480; }
    default-window-height { fixed 600; }
    default-floating-position x=20 y=20 relative-to="top"
}
window-rule {
         match app-id=r#"^org\.gnome\.Nautilus$"#
         open-floating true
    default-column-width { proportion 0.5; }
    default-window-height { proportion 0.5; }
    default-floating-position x=20 y=20 relative-to="top"
}
window-rule {
    match app-id=r#"^zen$"#
    open-on-workspace "B"
    open-maximized true
    open-focused true
}

window-rule {
    match app-id=r#"^zen$"# title="^Picture-in-Picture$"
    open-floating true
    default-floating-position x=20 y=20 relative-to="top-right"
    default-column-width { fixed 580; }
    default-window-height { fixed 320; }
    // max-width 700
    // max-height 600
clip-to-geometry true
geometry-corner-radius 12
border {
        on
        width 1
        // active-color "#ffc87f"
        // inactive-color "#505050"
    }
}
window-rule {
    match app-id=r#"^Spotify$"#
    open-on-workspace "D"
    max-width 700
    max-height 600
    // default-column-width { fixed 580; }
    // default-window-height { fixed 320; }
    default-floating-position x=0 y=10 relative-to="top"
    open-focused true
    open-floating true
}
window-rule {
    match app-id=r#"^kitty-terminal$"#
    open-on-workspace "T"
    open-focused true
    open-maximized true
}
window-rule {
    match app-id=r#"^kitty-float$"#
    open-floating true
    default-floating-position x=20 y=20 relative-to="top"
    default-column-width { proportion 0.6; }
    default-window-height { proportion 0.5; }
}
window-rule {
    match app-id=r#"^mpv$"#
    open-floating true
    default-floating-position x=20 y=20 relative-to="top-right"
    default-column-width { proportion 0.6; }
    default-window-height { proportion 0.5; }
}
window-rule {
    match app-id=r#"^kitty$"# 
    match title=r#"^Yazi:"#
    open-floating true
    default-floating-position x=20 y=20 relative-to="top"
    default-column-width { proportion 0.6; }
    default-window-height { proportion 0.5; }
}
window-rule {
    match app-id=r#"^vesktop$"#
    open-on-workspace "D"
    open-maximized true
    open-focused true
}
// Example: block out two password managers from screen capture.
// (This example rule is commented out with a "/-" in front.)
/-window-rule {
    match app-id=r#"^org\.keepassxc\.KeePassXC$"#
    match app-id=r#"^org\.gnome\.World\.Secrets$"#

    block-out-from "screen-capture"

    // Use this instead if you want them visible on third-party screenshot tools.
    // block-out-from "screencast"
}

// Example: enable rounded corners for all windows.
// (This example rule is commented out with a "/-" in front.)
window-rule {
    geometry-corner-radius 12
    draw-border-with-background false
    clip-to-geometry true
    background-effect {
      blur true
    xray false
  }
}
window-rule {
    match is-active=true
    opacity 1.0
}
// Inactive windows
window-rule {
    match is-active=false
    opacity 0.67
}
window-rule {
    match app-id=r#"^zen$"# title=r#"YouTube"#
    opacity 1.0
}
/* Apps: blur them all without xray for a better look */
// window-rule {
    // place-within-backdrop true
//   background-effect {
//     blur true
//     // xray true
//   }
// }

/* Noctalia: blur everywhere without xray for a better look */
layer-rule {
match namespace="^noctalia-(background|launcher-overlay|dock|wallpaper)-.*$"
    place-within-backdrop true
  background-effect {
    xray false
    blur false
  }
}
// layer-rule {
//     match namespace="^noctalia-bar-content-.*$"
//     opacity 0.6   // or whatever value you want (0.0 = transparent, 1.0 = opaque)
// }
